
#admin-panel
{
    padding: 70px 0 0 0;
    height: 100%;
}

@media(max-width:776px)
{
    #admin-panel
    {
        padding: 70px 0 0 0;
    }    
}

#admin-panel.toggle
{
    padding: 70px 0 0 0;
}

#admin-panel.toggle section
{
    width: 100%;
    left: 0;
}