/* #admin-panel
{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'aside header'
        'aside section';
} */

#admin-panel
{
    padding: 70px 0 0 260px;
}

@media(max-width:776px)
{
    #admin-panel
    {
        padding: 70px 0 0 60px;
    }    
}