
/* sidebar */
#admin-panel aside
{
    height: 100vh;
    width: 260px;
    background: var(--gray-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: .5s;

    transform: translateX(0);
    box-shadow: var(--shadow-block);
}

#admin-panel.toggle aside
{
    transform: translateX(-260px);
    box-shadow: none;
}

@media(max-width:776px)
{
    #admin-panel aside
    {
        transform: translateX(-260px);
        box-shadow: none;
    } 

    #admin-panel.toggle aside
    {
        transform: translateX(0);
        box-shadow: var(--shadow-block);
        z-index: 1;
    }       
}

#admin-panel aside h1
{
    height: 70px;
    line-height: 70px;
    text-align: center;

    text-transform: uppercase;
    color: var(--gray);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

#admin-panel aside svg
{
    width: 24px;
    height: 24px;
}

/* loader */
/*
лодер по дефолту відображається у сайдбарі над кнопкою згортання/розгортання
*/

#loader
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-block);
}

#loader.active
{
    display: block;
}

#loader.active::before
{
    content: '';
    width: 24px;
    height: 24px;

    /* border: 2px solid var(--white);
    border-top: 2px solid var(--tomato);
    border-radius: 50%; */

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");

    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);

    animation: loading 1s linear infinite;
}

@keyframes loading
{
    100%
    {
        transform: rotate(360deg);
    }
}

/* назва блоку (адмін-панель) */
#admin-panel aside h1 span
{
    display: inline-block;
    margin-left: 5px;
}

#scroll
{
    height: calc(100% - 70px);
}

/* прокрутка */
@media(max-width:776px)
{
    #scroll
    {
        overflow-y: scroll;
    }
}

@media(max-width:550px)
{
    #scroll
    {
        padding: 0 0 80px;
    }
}

#scroll ul
{
    margin: 20px 30px;
    display: block;
}

@media(max-width:776px)
{
    #scroll ul
    {
        margin: 5px;
    }    
}

#admin-panel.toggle #scroll ul
{
    margin: 20px 5px;
}

@media(max-width:776px)
{
    #admin-panel.toggle #scroll ul
    {
        margin: 20px 30px;
    }    
}

#scroll ul ul
{
    margin: 0 0 0 25px;
}

@media(max-width:776px)
{
    #admin-panel.toggle #scroll ul ul
    {
        margin: 0 0 0 25px;
    }
}

#scroll ul ul ul
{
    margin: 0 0 0 15px!important;
}

@media(max-width:776px)
{
    #admin-panel.toggle #scroll ul ul ul
    {
        margin: 0 0 0 15px!important;
    }
}

#scroll li
{
    display: block;
}

/* пункт меню (лінк) */
#scroll li p
{
    font-size: 15px;
    padding: 8px 0;
    color: var(--color-nav);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    cursor: pointer;
}

#scroll li p.active
{
    color: var(--color-nav-active);
}

#scroll li p:hover,
#scroll li p:focus
{
    color: var(--color-nav-hover);
}

#scroll p svg
{
    width: 14px;
    height: 14px;
}

/* назва пункта меню */
#scroll li span
{
    display: block;
}

/* toggle sidebar */
#menu-button
{
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 17px);
    right: -32px;
    background: var(--gray-dark);
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 3px 0px 0 1px rgb(0 0 0 / 10%);
}

#menu-button::before
{
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2398a6ad' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z'/%3E%3C/svg%3E");
    position: absolute;
    top: 4px;
    left: 6px;
    width: 24px;
    height: 24px;
}

.toggle #menu-button::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2398a6ad' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z'/%3E%3C/svg%3E");
}

@media(max-width:776px)
{
    #menu-button::before
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2398a6ad' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z'/%3E%3C/svg%3E");
    }

    .toggle #menu-button::before
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2398a6ad' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z'/%3E%3C/svg%3E");
    }    
}