
/* sidebar */
#admin-panel aside
{
    height: 100vh;
    width: 260px;
    background: var(--gray-dark);
    position: fixed;
    top: 0;
    left: 0;
}

#admin-panel.toggle aside
{
    width: 60px;
}

@media(max-width:776px)
{
    #admin-panel aside
    {
        width: 60px;
    } 

    #admin-panel.toggle aside
    {
        width: 260px;
        z-index: 1;
    }       
}

@media(max-width:550px)
{
    #admin-panel aside
    {
        top: 71px;
    }
}

#admin-panel aside h1
{
    height: 70px;
    line-height: 70px;
    text-align: center;

    text-transform: uppercase;
    color: var(--gray);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:550px)
{
    #admin-panel aside h1
    {
        display: none;
    }
}

#admin-panel aside svg
{
    width: 24px;
    height: 24px;
}

/* назва блоку (адмін-панель) */
#admin-panel aside h1 span
{
    display: inline-block;
    margin-left: 5px;
}

/* ховаємо назву, лишаємо іконку */
#admin-panel.toggle aside h1 span
{
    display: none;
}

@media(max-width:776px)
{
    #admin-panel aside h1 span
    {
        display: none;
    }    
}

#scroll
{
    height: 100%;
}

@media(max-width:550px)
{
    #scroll
    {
        padding: 0 0 80px;
    }

    #admin-panel.toggle #scroll
    {
        border-right: 1px solid var(--bg-body);
    }
}

#scroll ul
{
    margin: 20px 30px;
    display: block;
}

@media(max-width:776px)
{
    #scroll ul
    {
        margin: 5px;
    }    
}

#admin-panel.toggle #scroll ul
{
    margin: 20px 5px;
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll ul
    {
        margin: 20px 30px;
    }    
}

#scroll ul ul
{
    margin: 0 0 0 25px;
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll ul ul
    {
        margin: 0 0 0 25px;
    }
}

#scroll ul ul ul
{
    margin: 0 0 0 15px!important;
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll ul ul ul
    {
        margin: 0 0 0 15px!important;
    }
}

#scroll li
{
    display: block;
}

/* пункт меню (лінк) */
#scroll li p
{
    font-size: 15px;
    padding: 8px 0;
    color: var(--color-nav);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    cursor: pointer;
}

#admin-panel.toggle #scroll li p
{
    justify-content: center;
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll li p
    {
        justify-content: inherit;
    }    
}

@media(max-width:776px)
{
    #scroll li p
    {
        justify-content: center;
    }
}

#scroll li p.active
{
    color: var(--color-nav-active);
}

#scroll li p:hover,
#scroll li p:focus
{
    color: var(--color-nav-hover);
}

#scroll p svg
{
    width: 14px;
    height: 14px;
}

#admin-panel.toggle #scroll p svg
{
    width: 34px;
    height: 34px;
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll p svg
    {
        width: 14px;
        height: 14px;
    }
}

/* назва пункта меню */
#scroll li span
{
    display: block;
}

#scroll li span.toggle
{
    display: none;
}

@media(max-width:776px)
{
    #scroll li span
    {
        display: none;
    }    
}

@media(max-width:550px)
{
    #admin-panel.toggle #scroll li span
    {
        display: block;
    }
}

/* іконка панелі */
@media(max-width:776px)
{
    #admin-panel aside svg
    {
        width: 34px;
        height: 34px;
    }
}