
/* фіксований хедер */
#admin-panel header
{
    grid-area: header;

    position: fixed;
    top: 0;
    left: 280px;
    z-index: 1;
    width: calc(100% - 280px);
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    
    background: var(--bg-block);
    color: var(--color-block);
    box-shadow: var(--shadow-block);

    transition: .5s;
}

#dark-mode #admin-panel header
{
    background: var(--gray-dark);
    box-shadow: none;
}

#admin-panel.toggle header
{
    /* left: 60px; */
    /* width: calc(100% - 60px); */
    left: 0;
    width: 100%;
}

@media(max-width:776px)
{
    #admin-panel header
    {
        /* left: 60px; */
        /* width: calc(100% - 60px); */
        width: 100%;
        left: 0;
    }  
}

@media(max-width:550px)
{
    #admin-panel.toggle header,
    #admin-panel header
    {
        /* left: 0; */
        /* width: 100%; */
    }
}

/* #search
{
    margin-left: 20px;
} */

/* 
#search > svg
{
    display: none;
}

@media(max-width:776px)
{
    #search > svg
    {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: auto;
        cursor: pointer;
    }    
} */

#search form
{
    display: flex;
}

@media(max-width:776px)
{
    #search form
    {
        /* display: none; */
    }
}

#search input
{
    border-radius: 3px 0 0 3px;
    border: none;
    background: var(--light);
    width: 100%;
}

#search button
{
    border: none;
    border-radius: 0 3px 3px 0;
    width: 42px;
    height: 38px;
    position: relative;
}

#search form svg
{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
}

#search form.active
{
    position: absolute;
    top: 82px;
    display: flex;
    background: var(--blue-dark);
    color: var(--color-block);
    box-shadow: var(--shadow-block);
    padding: 20px;
    border-radius: 3px;
    z-index: 2;
    left: 0;
    width: calc(100% - 40px);
    left: 20px;
}

@media(max-width:550px)
{
    #search form.active
    {
        width: calc(100% - 100px);
        left: 80px;
    }    
}


/* open right sidebar */
#settings
{
    margin-left: auto;
    width: 24px;
    height: 24px;
    cursor: pointer;
}