
/* main */
#admin-panel section
{
    height: calc(100% - 20px);
    /* height: 100%; */
}

/* хлібні крихти */
#breadcrumbs
{
    text-align: right;
    margin: 20px;
}

#breadcrumbs li
{
    display: inline-block;
}

#breadcrumbs li::before
{
    content: ' < ';
    display: inline-block;
}

#breadcrumbs li:first-child:before
{
    content: '';
}

#breadcrumbs p
{
    color: var(--color-breadcrumbs);
    text-decoration: underline;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

#breadcrumbs p:hover
{
    text-decoration: none;
}

#breadcrumbs li:last-child p
{
    text-decoration: none;
    color: var(--gray);
    cursor: text;
}

/* ///////////////////
блок виводу інформації
/////////////////// */
#output
{
    margin: 20px;
    /* position: relative; */
}

/* спінер при завантаженні */
#spinner
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;

    transition: .5s;
    display: none;
}

#spinner.active
{
    background: var(--bg-block);

    display: flex;
    align-items: center;
    justify-content: center;
}

#spinner.active::before
{
    content: '';
    width: 64px;
    height: 64px;
    display: block;
        
    animation: spiner 3s forwards infinite;
}

@keyframes spiner 
{
    0% 
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 16 16'%3E%3Cpath d='M2 14.5a.5.5 0 0 0 .5.5h11a.5.5 0 1 0 0-1h-1v-1a4.5 4.5 0 0 0-2.557-4.06c-.29-.139-.443-.377-.443-.59v-.7c0-.213.154-.451.443-.59A4.5 4.5 0 0 0 12.5 3V2h1a.5.5 0 0 0 0-1h-11a.5.5 0 0 0 0 1h1v1a4.5 4.5 0 0 0 2.557 4.06c.29.139.443.377.443.59v.7c0 .213-.154.451-.443.59A4.5 4.5 0 0 0 3.5 13v1h-1a.5.5 0 0 0-.5.5zm2.5-.5v-1a3.5 3.5 0 0 1 1.989-3.158c.533-.256 1.011-.79 1.011-1.491v-.702s.18.101.5.101.5-.1.5-.1v.7c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13v1h-7z'/%3E%3C/svg%3E");
    }
    25%
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z'/%3E%3C/svg%3E");
    }
    50%
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 16 16'%3E%3Cpath d='M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z'/%3E%3C/svg%3E");
    }
    75% 
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 16 16'%3E%3Cpath d='M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z'/%3E%3C/svg%3E");
    }
}


/* один великий блок з текстовою інформацією */
#output.one-block
{
    background: var(--bg-block);
    color: var(--color-block);
    box-shadow: var(--shadow-block);
    
    padding: 20px;
    border-radius: 3px;    
}
/* один великий блок з текстовою інформацією */

/* графік -- слонова кістка */
#output.one-block.bg-white
{
    background: #fffff0;
}


/* грід на 4 / 3 / 2 блоки */
#output.grid-4
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

@media(max-width:1200px)
{
    #output.grid-4
    {
        grid-template-columns: repeat(3,1fr);
    }    
}

@media(max-width:996px)
{
    #output.grid-4
    {
        grid-template-columns: repeat(2,1fr);
    }    
}

@media(max-width:776px)
{
    #output.grid-4
    {
        grid-template-columns: 1fr;
    }    
}
/* грід на 4 / 3 / 2 блоки */


/* грід на 2 / 1 блоки */
#output.grid-2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

@media(max-width:996px)
{
    #output.grid-2
    {
        grid-template-columns: 1fr;
    }    
}
/* грід на 2 / 1 блоки */




/* обгортка для цілого блоку, щоб лапати клік */
.output-item.output-item-wrapper
{
    position: relative;
}

.output-item.output-item-wrapper::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}




/* окремий елемент */
#output.grid-4 .output-item,
#output.grid-2 .output-item
{
    background: var(--bg-block);
    color: var(--color-block);
    box-shadow: var(--shadow-block);

    padding: 20px;
    border-radius: 3px;
    
    cursor: pointer;
    overflow: hidden;
}


.output-item span
{
    color: var(--color-block-span);
    display: block;
}

#output.grid-4 .output-item strong
{
    color: var(--white)
}


/* accordion */
.output-item h1
{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    text-shadow: var(--text-shadow);
}

.output-item h1::before
{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/* canvas */
#output canvas
{
    margin: 5px 0;
}

/* кнопки вибору графіків */
#charts-select
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

/* кнопка */
#charts-select div
{
    cursor: pointer;
    padding: 0px 10px;
    color: var(--white);
    background: var(--blue);
    border-radius: 5px;
    margin: 5px;
}




/* статуси у вигляді маленької лампочки */
.output-item i
{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.output-item i.gray
{
    background: var(--gray-light);
    filter: blur(1.5px);
}

.output-item i.tomato
{
    background: var(--tomato);
    filter: blur(1.5px);
}

.output-item i.green
{
    background: var(--green-light);
    filter: blur(1.5px);
}

.output-item i.purpur
{
    background: var(--purpur);
    filter: blur(3px);
}
/* статуси у вигляді маленької лампочки */



/* вирівнювання заголовку */
.flex
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flex .to-right{
    margin-left: auto;
}





/* статуси онушки (велика лампочка): */

/* 1 - up */
.output-item h1.green::before
{
    background: var(--green-light);
    box-shadow: 0 0 0 5px rgba(118, 228, 110, .5);
    filter: blur(2px)
}

/* 2 - down */
.output-item h1.tomato::before
{
    background: var(--tomato);
    box-shadow: 0 0 0 5px rgba(255, 99, 71, .5);
    filter: blur(2px)
}

/* 3 - partially down */
.output-item h1.purpur::before
{
    background: var(--purpur);
    box-shadow: 0 0 0 5px rgba(174, 92, 254, .5);
    filter: blur(2px)
}

/* 0 - disabled */
.output-item h1.gray::before
{
    background: var(--gray);
    box-shadow: 0 0 0 5px rgba(131, 140, 150, .5);
    filter: blur(2px)
}



/* порт (ethernet): */
.output-item p.port span
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.output-item p.port span::before
{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
}

/* disabled */
.output-item p.port.status-0 span
{
    color: var(--gray-light);
}

.output-item p.port.status-0 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dee2e6' viewBox='0 0 511.984 511.984'%3E%3Cpath d='M450.226,0H61.742C27.695,0,0,27.695,0,61.742v388.484c0,34.047,27.695,61.758,61.742,61.758h388.5 c34.047,0,61.742-27.711,61.742-61.758V61.742C511.984,27.695,484.289,0,450.226,0z M479.985,450.226 c0,16.415-13.344,29.759-29.759,29.759H61.742c-16.399,0-29.743-13.344-29.743-29.759V61.742 c0-16.415,13.344-29.743,29.743-29.743h388.5c16.399,0,29.743,13.328,29.743,29.743V450.226z'/%3E%3Cpath d='M447.986,47.998H63.998c-8.848,0-16,7.168-16,16v207.994c0,8.832,7.152,16,16,16h79.997v63.998c0,8.832,7.152,16,16,16 h191.994c8.848,0,16-7.168,16-16v-63.998h79.997c8.848,0,16-7.168,16-16V63.998C463.986,55.166,456.834,47.998,447.986,47.998z M431.987,255.992h-79.997c-8.848,0-16,7.168-16,16v63.998H175.995v-63.998c0-8.832-7.152-16-16-16H79.997V79.997h351.989V255.992 z'/%3E%3Cpath d='M383.988,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C399.987,71.166,392.836,63.998,383.988,63.998z'/%3E%3Cpath d='M383.988,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C399.987,199.162,392.836,191.994,383.988,191.994z'/%3E%3Cpath d='M127.996,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C143.995,71.166,136.844,63.998,127.996,63.998z'/%3E%3Cpath d='M127.996,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C143.995,199.162,136.844,191.994,127.996,191.994z'/%3E%3Cpath d='M191.994,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C207.994,71.166,200.842,63.998,191.994,63.998z'/%3E%3Cpath d='M191.994,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C207.994,199.162,200.842,191.994,191.994,191.994z'/%3E%3Cpath d='M255.992,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C271.992,71.166,264.84,63.998,255.992,63.998z'/%3E%3Cpath d='M255.992,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C271.992,199.162,264.84,191.994,255.992,191.994z'/%3E%3Cpath d='M319.99,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C335.99,71.166,328.838,63.998,319.99,63.998z'/%3E%3Cpath d='M319.99,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C335.99,199.162,328.838,191.994,319.99,191.994z'/%3E%3C/svg%3E");
}

/* active */
.output-item p.port.status-1 span
{
    color: var(--green-light);
}
.output-item p.port.status-1 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2376e46e' viewBox='0 0 511.984 511.984'%3E%3Cpath d='M450.226,0H61.742C27.695,0,0,27.695,0,61.742v388.484c0,34.047,27.695,61.758,61.742,61.758h388.5 c34.047,0,61.742-27.711,61.742-61.758V61.742C511.984,27.695,484.289,0,450.226,0z M479.985,450.226 c0,16.415-13.344,29.759-29.759,29.759H61.742c-16.399,0-29.743-13.344-29.743-29.759V61.742 c0-16.415,13.344-29.743,29.743-29.743h388.5c16.399,0,29.743,13.328,29.743,29.743V450.226z'/%3E%3Cpath d='M447.986,47.998H63.998c-8.848,0-16,7.168-16,16v207.994c0,8.832,7.152,16,16,16h79.997v63.998c0,8.832,7.152,16,16,16 h191.994c8.848,0,16-7.168,16-16v-63.998h79.997c8.848,0,16-7.168,16-16V63.998C463.986,55.166,456.834,47.998,447.986,47.998z M431.987,255.992h-79.997c-8.848,0-16,7.168-16,16v63.998H175.995v-63.998c0-8.832-7.152-16-16-16H79.997V79.997h351.989V255.992 z'/%3E%3Cpath d='M383.988,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C399.987,71.166,392.836,63.998,383.988,63.998z'/%3E%3Cpath d='M383.988,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C399.987,199.162,392.836,191.994,383.988,191.994z'/%3E%3Cpath d='M127.996,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C143.995,71.166,136.844,63.998,127.996,63.998z'/%3E%3Cpath d='M127.996,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C143.995,199.162,136.844,191.994,127.996,191.994z'/%3E%3Cpath d='M191.994,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C207.994,71.166,200.842,63.998,191.994,63.998z'/%3E%3Cpath d='M191.994,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C207.994,199.162,200.842,191.994,191.994,191.994z'/%3E%3Cpath d='M255.992,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C271.992,71.166,264.84,63.998,255.992,63.998z'/%3E%3Cpath d='M255.992,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C271.992,199.162,264.84,191.994,255.992,191.994z'/%3E%3Cpath d='M319.99,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C335.99,71.166,328.838,63.998,319.99,63.998z'/%3E%3Cpath d='M319.99,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C335.99,199.162,328.838,191.994,319.99,191.994z'/%3E%3C/svg%3E");
}

/* active */
.output-item p.port.status-2 span
{
    color: var(--tomato);
}
.output-item p.port.status-2 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 511.984 511.984'%3E%3Cpath d='M450.226,0H61.742C27.695,0,0,27.695,0,61.742v388.484c0,34.047,27.695,61.758,61.742,61.758h388.5 c34.047,0,61.742-27.711,61.742-61.758V61.742C511.984,27.695,484.289,0,450.226,0z M479.985,450.226 c0,16.415-13.344,29.759-29.759,29.759H61.742c-16.399,0-29.743-13.344-29.743-29.759V61.742 c0-16.415,13.344-29.743,29.743-29.743h388.5c16.399,0,29.743,13.328,29.743,29.743V450.226z'/%3E%3Cpath d='M447.986,47.998H63.998c-8.848,0-16,7.168-16,16v207.994c0,8.832,7.152,16,16,16h79.997v63.998c0,8.832,7.152,16,16,16 h191.994c8.848,0,16-7.168,16-16v-63.998h79.997c8.848,0,16-7.168,16-16V63.998C463.986,55.166,456.834,47.998,447.986,47.998z M431.987,255.992h-79.997c-8.848,0-16,7.168-16,16v63.998H175.995v-63.998c0-8.832-7.152-16-16-16H79.997V79.997h351.989V255.992 z'/%3E%3Cpath d='M383.988,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C399.987,71.166,392.836,63.998,383.988,63.998z'/%3E%3Cpath d='M383.988,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C399.987,199.162,392.836,191.994,383.988,191.994z'/%3E%3Cpath d='M127.996,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C143.995,71.166,136.844,63.998,127.996,63.998z'/%3E%3Cpath d='M127.996,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C143.995,199.162,136.844,191.994,127.996,191.994z'/%3E%3Cpath d='M191.994,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C207.994,71.166,200.842,63.998,191.994,63.998z'/%3E%3Cpath d='M191.994,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C207.994,199.162,200.842,191.994,191.994,191.994z'/%3E%3Cpath d='M255.992,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C271.992,71.166,264.84,63.998,255.992,63.998z'/%3E%3Cpath d='M255.992,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C271.992,199.162,264.84,191.994,255.992,191.994z'/%3E%3Cpath d='M319.99,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C335.99,71.166,328.838,63.998,319.99,63.998z'/%3E%3Cpath d='M319.99,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C335.99,199.162,328.838,191.994,319.99,191.994z'/%3E%3C/svg%3E");
}

/* хз */
.output-item p.port.status-3 span
{
    color: var(--purpur);
}
.output-item p.port.status-3 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ae5cfe' viewBox='0 0 511.984 511.984'%3E%3Cpath d='M450.226,0H61.742C27.695,0,0,27.695,0,61.742v388.484c0,34.047,27.695,61.758,61.742,61.758h388.5 c34.047,0,61.742-27.711,61.742-61.758V61.742C511.984,27.695,484.289,0,450.226,0z M479.985,450.226 c0,16.415-13.344,29.759-29.759,29.759H61.742c-16.399,0-29.743-13.344-29.743-29.759V61.742 c0-16.415,13.344-29.743,29.743-29.743h388.5c16.399,0,29.743,13.328,29.743,29.743V450.226z'/%3E%3Cpath d='M447.986,47.998H63.998c-8.848,0-16,7.168-16,16v207.994c0,8.832,7.152,16,16,16h79.997v63.998c0,8.832,7.152,16,16,16 h191.994c8.848,0,16-7.168,16-16v-63.998h79.997c8.848,0,16-7.168,16-16V63.998C463.986,55.166,456.834,47.998,447.986,47.998z M431.987,255.992h-79.997c-8.848,0-16,7.168-16,16v63.998H175.995v-63.998c0-8.832-7.152-16-16-16H79.997V79.997h351.989V255.992 z'/%3E%3Cpath d='M383.988,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C399.987,71.166,392.836,63.998,383.988,63.998z'/%3E%3Cpath d='M383.988,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C399.987,199.162,392.836,191.994,383.988,191.994z'/%3E%3Cpath d='M127.996,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C143.995,71.166,136.844,63.998,127.996,63.998z'/%3E%3Cpath d='M127.996,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C143.995,199.162,136.844,191.994,127.996,191.994z'/%3E%3Cpath d='M191.994,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C207.994,71.166,200.842,63.998,191.994,63.998z'/%3E%3Cpath d='M191.994,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C207.994,199.162,200.842,191.994,191.994,191.994z'/%3E%3Cpath d='M255.992,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C271.992,71.166,264.84,63.998,255.992,63.998z'/%3E%3Cpath d='M255.992,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C271.992,199.162,264.84,191.994,255.992,191.994z'/%3E%3Cpath d='M319.99,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C335.99,71.166,328.838,63.998,319.99,63.998z'/%3E%3Cpath d='M319.99,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C335.99,199.162,328.838,191.994,319.99,191.994z'/%3E%3C/svg%3E");
}



/* сигнал: default -- red */
.output-item p.signal span
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px;
    /* color: var(--tomato); */
}

/* default -- red */
.output-item p.signal span::before
{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 512 512'%3E%3Cpath d='m507.641,431.876l-224-384.002c-5.734-9.828-16.258-15.875-27.641-15.875-11.383,0-21.906,6.047-27.641,15.875l-224,384.002c-5.773,9.898-5.813,22.125-0.109,32.063 5.711,9.938 16.289,16.063 27.75,16.063h448.001c11.461,0 22.039-6.125 27.75-16.063 5.703-9.938 5.664-22.165-0.11-32.063zm-155.641-95.876h-57.375l20.688,20.688c6.25,6.25 6.25,16.375 0,22.625-3.125,3.125-7.219,4.687-11.313,4.687-4.094,0-8.188-1.563-11.313-4.688l-20.687-20.687v57.375c0,8.836-7.164,16-16,16s-16-7.164-16-16v-57.375l-20.688,20.688c-3.125,3.125-7.218,4.687-11.312,4.687-4.094,0-8.188-1.563-11.313-4.688-6.25-6.25-6.25-16.375 0-22.625l20.688-20.687h-57.375c-8.836,0-16-7.164-16-16s7.164-16 16-16h57.375l-20.688-20.688c-6.25-6.25-6.25-16.375 0-22.625s16.375-6.25 22.625,0l20.688,20.688v-57.375c0-8.836 7.164-16 16-16s16,7.164 16,16v57.375l20.688-20.688c6.25-6.25 16.375-6.25 22.625,0s6.25,16.375 0,22.625l-20.688,20.688h57.375c8.836,0 16,7.164 16,16s-7.164,16-16,16z'/%3E%3C/svg%3E");
}

/* green */
.output-item p.signal.color-green span
{
    /* color: var(--green-light); */
}

.output-item p.signal.color-green span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2376e46e' viewBox='0 0 512 512'%3E%3Cpath d='m507.641,431.876l-224-384.002c-5.734-9.828-16.258-15.875-27.641-15.875-11.383,0-21.906,6.047-27.641,15.875l-224,384.002c-5.773,9.898-5.813,22.125-0.109,32.063 5.711,9.938 16.289,16.063 27.75,16.063h448.001c11.461,0 22.039-6.125 27.75-16.063 5.703-9.938 5.664-22.165-0.11-32.063zm-155.641-95.876h-57.375l20.688,20.688c6.25,6.25 6.25,16.375 0,22.625-3.125,3.125-7.219,4.687-11.313,4.687-4.094,0-8.188-1.563-11.313-4.688l-20.687-20.687v57.375c0,8.836-7.164,16-16,16s-16-7.164-16-16v-57.375l-20.688,20.688c-3.125,3.125-7.218,4.687-11.312,4.687-4.094,0-8.188-1.563-11.313-4.688-6.25-6.25-6.25-16.375 0-22.625l20.688-20.687h-57.375c-8.836,0-16-7.164-16-16s7.164-16 16-16h57.375l-20.688-20.688c-6.25-6.25-6.25-16.375 0-22.625s16.375-6.25 22.625,0l20.688,20.688v-57.375c0-8.836 7.164-16 16-16s16,7.164 16,16v57.375l20.688-20.688c6.25-6.25 16.375-6.25 22.625,0s6.25,16.375 0,22.625l-20.688,20.688h57.375c8.836,0 16,7.164 16,16s-7.164,16-16,16z'/%3E%3C/svg%3E");
}

/* yellow */
.output-item p.signal.color-yellow span
{
    /* color: var(--yellow); */
}

.output-item p.signal.color-yellow span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ebeb44' viewBox='0 0 512 512'%3E%3Cpath d='m507.641,431.876l-224-384.002c-5.734-9.828-16.258-15.875-27.641-15.875-11.383,0-21.906,6.047-27.641,15.875l-224,384.002c-5.773,9.898-5.813,22.125-0.109,32.063 5.711,9.938 16.289,16.063 27.75,16.063h448.001c11.461,0 22.039-6.125 27.75-16.063 5.703-9.938 5.664-22.165-0.11-32.063zm-155.641-95.876h-57.375l20.688,20.688c6.25,6.25 6.25,16.375 0,22.625-3.125,3.125-7.219,4.687-11.313,4.687-4.094,0-8.188-1.563-11.313-4.688l-20.687-20.687v57.375c0,8.836-7.164,16-16,16s-16-7.164-16-16v-57.375l-20.688,20.688c-3.125,3.125-7.218,4.687-11.312,4.687-4.094,0-8.188-1.563-11.313-4.688-6.25-6.25-6.25-16.375 0-22.625l20.688-20.687h-57.375c-8.836,0-16-7.164-16-16s7.164-16 16-16h57.375l-20.688-20.688c-6.25-6.25-6.25-16.375 0-22.625s16.375-6.25 22.625,0l20.688,20.688v-57.375c0-8.836 7.164-16 16-16s16,7.164 16,16v57.375l20.688-20.688c6.25-6.25 16.375-6.25 22.625,0s6.25,16.375 0,22.625l-20.688,20.688h57.375c8.836,0 16,7.164 16,16s-7.164,16-16,16z'/%3E%3C/svg%3E");
}

/*
 * parent-status 2 (disabled)
 * modificator
*/

/* onu not active */
.output-item p.parent-status-2 span
{
    /* color: var(--gray-light)!important; */
}

.output-item p.port.parent-status-2 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dee2e6' viewBox='0 0 511.984 511.984'%3E%3Cpath d='M450.226,0H61.742C27.695,0,0,27.695,0,61.742v388.484c0,34.047,27.695,61.758,61.742,61.758h388.5 c34.047,0,61.742-27.711,61.742-61.758V61.742C511.984,27.695,484.289,0,450.226,0z M479.985,450.226 c0,16.415-13.344,29.759-29.759,29.759H61.742c-16.399,0-29.743-13.344-29.743-29.759V61.742 c0-16.415,13.344-29.743,29.743-29.743h388.5c16.399,0,29.743,13.328,29.743,29.743V450.226z'/%3E%3Cpath d='M447.986,47.998H63.998c-8.848,0-16,7.168-16,16v207.994c0,8.832,7.152,16,16,16h79.997v63.998c0,8.832,7.152,16,16,16 h191.994c8.848,0,16-7.168,16-16v-63.998h79.997c8.848,0,16-7.168,16-16V63.998C463.986,55.166,456.834,47.998,447.986,47.998z M431.987,255.992h-79.997c-8.848,0-16,7.168-16,16v63.998H175.995v-63.998c0-8.832-7.152-16-16-16H79.997V79.997h351.989V255.992 z'/%3E%3Cpath d='M383.988,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C399.987,71.166,392.836,63.998,383.988,63.998z'/%3E%3Cpath d='M383.988,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C399.987,199.162,392.836,191.994,383.988,191.994z'/%3E%3Cpath d='M127.996,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16V79.997 C143.995,71.166,136.844,63.998,127.996,63.998z'/%3E%3Cpath d='M127.996,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16c8.848,0,15.999-7.168,15.999-16v-15.999 C143.995,199.162,136.844,191.994,127.996,191.994z'/%3E%3Cpath d='M191.994,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C207.994,71.166,200.842,63.998,191.994,63.998z'/%3E%3Cpath d='M191.994,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C207.994,199.162,200.842,191.994,191.994,191.994z'/%3E%3Cpath d='M255.992,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C271.992,71.166,264.84,63.998,255.992,63.998z'/%3E%3Cpath d='M255.992,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C271.992,199.162,264.84,191.994,255.992,191.994z'/%3E%3Cpath d='M319.99,63.998c-8.848,0-16,7.168-16,16v79.997c0,8.832,7.152,16,16,16s16-7.168,16-16V79.997 C335.99,71.166,328.838,63.998,319.99,63.998z'/%3E%3Cpath d='M319.99,191.994c-8.848,0-16,7.168-16,16v15.999c0,8.832,7.152,16,16,16s16-7.168,16-16v-15.999 C335.99,199.162,328.838,191.994,319.99,191.994z'/%3E%3C/svg%3E")!important;
}

.output-item p.signal.parent-status-2 span::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dee2e6' viewBox='0 0 512 512'%3E%3Cpath d='m507.641,431.876l-224-384.002c-5.734-9.828-16.258-15.875-27.641-15.875-11.383,0-21.906,6.047-27.641,15.875l-224,384.002c-5.773,9.898-5.813,22.125-0.109,32.063 5.711,9.938 16.289,16.063 27.75,16.063h448.001c11.461,0 22.039-6.125 27.75-16.063 5.703-9.938 5.664-22.165-0.11-32.063zm-155.641-95.876h-57.375l20.688,20.688c6.25,6.25 6.25,16.375 0,22.625-3.125,3.125-7.219,4.687-11.313,4.687-4.094,0-8.188-1.563-11.313-4.688l-20.687-20.687v57.375c0,8.836-7.164,16-16,16s-16-7.164-16-16v-57.375l-20.688,20.688c-3.125,3.125-7.218,4.687-11.312,4.687-4.094,0-8.188-1.563-11.313-4.688-6.25-6.25-6.25-16.375 0-22.625l20.688-20.687h-57.375c-8.836,0-16-7.164-16-16s7.164-16 16-16h57.375l-20.688-20.688c-6.25-6.25-6.25-16.375 0-22.625s16.375-6.25 22.625,0l20.688,20.688v-57.375c0-8.836 7.164-16 16-16s16,7.164 16,16v57.375l20.688-20.688c6.25-6.25 16.375-6.25 22.625,0s6.25,16.375 0,22.625l-20.688,20.688h57.375c8.836,0 16,7.164 16,16s-7.164,16-16,16z'/%3E%3C/svg%3E")!important;
}
/* onu not active */



@media(max-width:776px)
{
    .output-item h1::before
    {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2398a6ad'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
    }
    
    .output-item.active h1::before
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2398a6ad'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3E%3C/svg%3E");
    }

    .output-item > div
    {
        display: none;
    }

    .output-item.active > div
    {
        display: block;
    }
}

.output-item hr
{
    margin: 5px 0;
    border: none;
    border-top: 1px solid var(--gray);
}

