
/* main */
#admin-panel section
{
    height: calc(100% - 20px);
    /* height: 100%; */
}

/* хлібні крихти */
#breadcrumbs
{
    text-align: right;
    margin: 20px;
}

#breadcrumbs li
{
    display: inline-block;
}

#breadcrumbs li::before
{
    content: ' < ';
    display: inline-block;
}

#breadcrumbs li:first-child:before
{
    content: '';
}

#breadcrumbs p
{
    color: var(--color-breadcrumbs);
    text-decoration: underline;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

#breadcrumbs p:hover
{
    text-decoration: none;
}

#breadcrumbs li:last-child p
{
    text-decoration: none;
    color: var(--gray);
    cursor: text;
}

/* ///////////////////
блок виводу інформації
/////////////////// */
#output
{
    margin: 20px;
}

/* один великий блок з текстовою інформацією */
#output.one-block
{
    background: var(--bg-block);
    color: var(--color-block);
    box-shadow: var(--shadow-block);
    
    padding: 20px;
    border-radius: 3px;    
}
/* один великий блок з текстовою інформацією */

/* грід на 6 / 4 / 2 блоки */
#output.grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

@media(max-width:996px)
{
    #output.grid
    {
        grid-template-columns: repeat(3,1fr);
    }    
}

@media(max-width:776px)
{
    #output.grid
    {
        grid-template-columns: repeat(2,1fr);
    }    
}

@media(max-width:550px)
{
    #output.grid
    {
        grid-template-columns: 1fr;
    }    
}

/* окремий елемент */
#output.grid .output-item
{
    background: var(--bg-block);
    color: var(--color-block);
    box-shadow: var(--shadow-block);

    padding: 20px;
    border-radius: 3px;
    
    cursor: pointer;
    overflow: hidden;
}
/* грід на 6 / 4 / 2 блоки */

.output-item span
{
    color: var(--color-block-span);
    display: block;
}

/* accordion */
.output-item h1
{
    position: relative;
}

@media(max-width:776px)
{
    .output-item h1::before
    {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2398a6ad'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
    }
    
    .output-item.active h1::before
    {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2398a6ad'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3E%3C/svg%3E");
    }

    .output-item p
    {
        display: none;
    }

    .output-item.active p
    {
        display: block;
    }
}